button {
  background: #fff;
  width: 6rem;
  margin-top: 1rem;
  padding: 0.4rem 0rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 3rem;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #000;
  color: #fff;
}
